*{
    margin: 0;
    padding: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
ul,ol,li{
list-style: none;
padding: 0;
}
a{
    text-decoration: none;
    color: #8cb4ff
}
blockquote, body, dd, dl, figure, h1, h2, h3, h4, ol, p, ul {
    margin: 0;
}
a:not([class]){
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}
h1, h2, h3 {
    letter-spacing: -0.031rem;
}
